#movies{
    margin-left: 0px;
}
.posterDiv{
    display: inline-block;
    margin: 8px;
}

#movies img{
	height: 220px;
    width: 155px;
}

#map {
	height:300px;
	margin-top: 25px;

}

#wrapperCon {
	margin-top: 50px;
}
.list-group-item img {
	height:100px;
	width:65px;
}

#picInfo {

    display: inline-block;
    width: 164px;
    vertical-align: top;
        font-size: small;

}

#imgP {
	    width: 65px;
    display: inline-block;
    vertical-align: top;
}
.list-group-item span {
	font-weight: bold;
}

body {
	font-family: "futura-pt",sans-serif;
}
.form-control{
	    width: 160px;

}

.searchBtn{
	display: inline-block;
	vertical-align: top;
	width:170px;
}
